body {
    width: 100%;
    height: 100dvh;
    background-image: url('./../../../assets/images/bg-status-1x.png');
    background-size: cover;
    .container {
        width: 85%;
        max-width: 1200px;
        height: 100%;
        background: rgba(250, 250, 250, 1);
        margin: 0 auto;
        .form-register {
            width: 100%;
            height: 100%;
            @include flex-center();
            &--left {
                flex: 1;
                height: 100%;
            }
            &--right {
                flex: 1;
                height: 100%;
            }
            &__content {
                width: 480px;
                height: 100%;
                margin: 0 auto;
            }
            &__title {
                font-size: 80px;
                font-weight: 500;
                line-height: 120px;
                text-align: center;
                span {
                    &:nth-of-type(1) {
                        color: $color-title-first;
                    }
                    &:nth-of-type(2) {
                        color: $color-title-last;
                    }
                }
            }
            &__input-group {
                width: 100%;
            }
            &__input {
                width: 100%;
                height: 40px;
                border-radius: 10px;
                font-size: 18px;
                border: 2.5px solid rgba(210, 210, 210, 1);
                padding-left: 15px;
            }
            &__label {
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
            }
        }
    }
}